@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
/*"Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif*/

:root {
  --green: #3fb618; /* usage: color: var(--green); */
  --red: #ff0039
  --orange: #ff7518
  --purple: #9954bb
  --blue: #2780e3
  --coal: #222222
}

* {
  /*border: 1px solid red;*/
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 100;
}

nav {
  margin: 0;
  padding: 0.5em 0.2em;
  word-spacing: 4px;
  background-color: var(--green);
}

nav a {
  color: white;
}

#logo {
  padding: 0.5em;
  font-weight: bold;
}
a {
  text-decoration: none;
}

#login {
  padding-right: 0.2em;
  float: right;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
 }

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 80%;
 }

.project {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  /*background-color: yellow;*/
}

.project img {
  position: absolute;
  top: 0;
  width: 80%;
  height: 100%;
  left: 10%;
}

details {
  color: black;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

details summary {
  color: var(--green);
  z-index: 1000;
}

footer {
  margin-bottom: 0;
  background-color: var(--green);
  text-align: center;
}

footer a {
    color: white;
}

.main {
  padding: 1em;
  /*background: orange;*/
  min-height: 100%;
  margin-bottom: -30px;
}

.main:after {
  /*content: "";*/
  /*display: block;*/
}

footer, .main:after {
  height: 30px;
}

h2 {
  text-align: center;
}

img {
  width: 100%;
  /*height: 100%;*/

}

.contact-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
 }

.contact-wrapper .contact {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 80%;
 }
